#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
  color: #ebeafa;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#footer {
  opacity: 0.2;
}

#choice {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choice-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border: 3px solid;
  border-radius: 4px;
  border-color: #ebeafa;
  margin: 2rem;
  color: #ebeafa;
}

#choice-value:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#logo {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 1rem;
}

#spinner {
  height: 1rem;
}

#button {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 4px;
  border-color: #ebeafa;
  margin: 2rem;
  color: #ebeafa;
  opacity: 0.2;
}

#button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
