html,
body {
  margin: 0;
  height: 100%;
  background: #281733;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
